### This notebook is my personal notes for chapter 7-8 of Introducing Python: Modern Computing in Symple Packages

# Tuple

In [ ]:
tuple_ = ('Dean', 'Bob', 'Alice')
print(type(tuple_))
a, b, c = tuple_
print(a)
print(b)
print(c)

<class 'tuple'>
Dean
Bob
Alice

# List

In [ ]:
# insert() insert elements to where you want it to be, different from append()
list_ = [1, 2, 3, 4, 5, 6]
list_.insert(2, 8) # insert 8 at index 2
list_

[1, 2, 8, 3, 4, 5, 6]

In [ ]:
# Use extend or + to combine lists since append() function would add a list into the original list
list_2 = [5, 4, 3, 2, 1]
list_.extend(list_2)
print(list_)
list_.append(list_2)
print(list_)

[1, 2, 8, 3, 4, 5, 6, 5, 4, 3, 2, 1]
[1, 2, 8, 3, 4, 5, 6, 5, 4, 3, 2, 1, [5, 4, 3, 2, 1]]

In [ ]:
sir_lab = ['Ally', 'Astrid', 'Bob', 'Charlotte', 'Dean', 'Elaine']
member = ','.join(sir_lab)
print(member)
member_list = member.split(',')
print(sir_lab == member_list)

Ally,Astrid,Bob,Charlotte,Dean,Elaine
True

List Comprehension  
[expression for item in iterable]

In [ ]:
# 一行 for loop

number_list = [number - 1 for number in range(1, 6) if number % 2 == 0]
print(number_list)

rows = range(1, 4)
cols = range(1, 3)
cells = [(row, col) for row in rows for col in cols]
for cell in cells:
    print(cell)

[1, 3]
(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

# Dictionary

In [ ]:
# Use [key] or get() to get the value
manifestos = {1998: 'df_1998', 2001: 'df_2001', 2004: 'df_2004',
              2008: 'df_2008', 2012: 'df_2012', 2016: 'df_2016'}

print(manifestos[2016])
print(manifestos.get(2012))

df_2016
df_2012

In [ ]:
# keys() will return s dict_key() object which is not a list, thus you need to use list() to transform it
print(manifestos.keys())
print(list(manifestos.keys()))

# values() to get all values
print(list(manifestos.values()))
print(list(manifestos.items()))

dict_keys([1998, 2001, 2004, 2008, 2012, 2016])
[1998, 2001, 2004, 2008, 2012, 2016]
['df_1998', 'df_2001', 'df_2004', 'df_2008', 'df_2012', 'df_2016']
[(1998, 'df_1998'), (2001, 'df_2001'), (2004, 'df_2004'), (2008, 'df_2008'), (2012, 'df_2012'), (2016, 'df_2016')]

In [ ]:
# {**a, **b} is a shallow copy of dictionary combination
new_manifestos = {2020: 'df_2020', 2024: 'df_2024'}
print({**manifestos, **new_manifestos}, end='\n')

# you can also use update() to copy from another dictiionary
manifestos.update(new_manifestos)
manifestos

{1998: 'df_1998', 2001: 'df_2001', 2004: 'df_2004', 2008: 'df_2008', 2012: 'df_2012', 2016: 'df_2016', 2020: 'df_2020', 2024: 'df_2024'}

{1998: 'df_1998',
 2001: 'df_2001',
 2004: 'df_2004',
 2008: 'df_2008',
 2012: 'df_2012',
 2016: 'df_2016',
 2020: 'df_2020',
 2024: 'df_2024'}

In [ ]:
# you can use del and pop() to delete the item in dictionary
del manifestos[2024]
print(manifestos)

manifestos.pop(2020)
print(manifestos)

{1998: 'df_1998', 2001: 'df_2001', 2004: 'df_2004', 2008: 'df_2008', 2012: 'df_2012', 2016: 'df_2016', 2020: 'df_2020'}
{1998: 'df_1998', 2001: 'df_2001', 2004: 'df_2004', 2008: 'df_2008', 2012: 'df_2012', 2016: 'df_2016'}

In [ ]:
# dictionary comprehension
# {key_expression : value_expression for expression in iterable}
word = 'letters'
letter_count = {letter: word.count(letter) for letter in set(word)}
letter_count

{'l': 1, 'e': 2, 'r': 1, 's': 1, 't': 2}

# Set

In [ ]:
# Set has unique value inside
print(set(word))

# use add() to add up
a = set(word)
a.add('u')
print(a)

{'l', 'e', 'r', 's', 't'}
{'l', 'e', 'r', 's', 'u', 't'}

In [ ]:
# set comprehension
# {expression for expression in iterable}
new_num = {num for num in range(1, 10) if num % 2 == 0}
new_num

{2, 4, 6, 8}

In [ ]:
# practice
titles = ['Creature of Habit', 'Crewel Fate', 'Sharks On a Plane']
plots = ['A nun turns into a monster', 'A haunted yarn shop', 'Check your exit']
movies = {title: plot for title, plot in zip(titles, plots)}
print(movies)

{'Creature of Habit': 'A nun turns into a monster', 'Crewel Fate': 'A haunted yarn shop', 'Sharks On a Plane': 'Check your exit'}